
@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script>
    // setting up data
    $(document).ready(function () {
        $(document).on({
            ajaxStop: function () {
                $("#loadingOverlay.overlay").removeClass("overlay");
                $("#loadingOverlay").addClass("d-none");
            }
        });

        LoadData();

        $("#searchBox").on("keyup", function () {
            var value = $(this).val();
            Search(value);
        });
    });

    // config data display on this view
    function ShowValue(values) {
        var result = '';
        for (var i = 0; i < values.length; i++) {
            result += '<tr class="account" data-widget="expandable-table" aria-expanded="false">';
            result += '<td>' + (i + 1) + '</td>';
            result += '<td>' + values[i].name + '</td>';
            result += '<td>' + GetDate(values[i].birthday) + '</td>';
            result += '<td>' + values[i].phoneNumber + '</td>';
            result += '<td>' + values[i].email + '</td>';
            result += '<td>' + values[i].idNum + '</td>';
            result += '<td>' + values[i].locked + '</td>';
            result += '<td>' + '<i class="fas fa-edit" style="color:green;" ' +
                'data-toggle="modal" data-target="#updateModal" onclick=ShowEditTarget("' + values[i].id + '")></i > | '
                + '<i class="far fa-trash-alt" style="color:red;" onclick=DeleteData("' + values[i].id + '");></i>' + '</td>';
            result += '</tr>';
            result += '<tr class="expandable-body d-none">';
            result += '<td colspan="8"><p style="display: none;">'
            result += '<b>Username:</b> ' + values[i].username + '<br />'
            result += '<b>Job:</b> ' + values[i].job + '<br />'
            result += '<b>Gender:</b> ' + values[i].gender + '<br />'
            result += '<b>Address:</b> ' + values[i].address
            result += '</p></td>'
            result += '</tr>';
        }

        $('#table').html(result);

        // fix auto expand onload
        $(".account").attr("aria-expanded", false);
    }

    // add, edit, and delete functions - start
    function DeleteData(_id) {
        var url = "delete/" + _id;
        if (confirm("Are you sure you want to delete ...?")) {
            $.post({
                url: url,
                success: function (data) {
                    if (data) {
                        CreateToastSuccess();
                    } else {
                        CreateToastFailed(data);
                    }
                    LoadData();
                }
            });
        }
    }

    function ShowEditTarget(_id) {
        ResetUpdateForm();

        var url = "edit/" + _id;
        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            url: url,
            data: {
                id: _id
            },
            success: function (result) {
                $("#E-Id").val(_id);
                $("#E-Name").val(result.name);

                var birthday = new Date(result.birthday);
                var day = ("0" + birthday.getDate()).slice(-2);
                var month = ("0" + (birthday.getMonth() + 1)).slice(-2);
                var resultDate = birthday.getFullYear() + "-" + (month) + "-" + (day);

                $("#E-Birthday").val(resultDate);

                $("#E-PhoneNumber").val(result.phoneNumber);
                $("#E-Email").val(result.email);
                $("#E-Address").val(result.address);
                $("#E-Job").val(result.job);
                $("#E-Gender").val(result.gender);
                $("#E-IdNum").val(result.idNum);
                $("#E-Locked").prop('checked', result.locked);
                $("#E-IsAuthenticated").prop('checked', result.isAuthentication);
            }
        });
    }

    function SaveTarget() {
        var id = $("#E-Id").val();
        var name = $("#E-Name").val();
        var birthday = $("#E-Birthday").val();

        var phoneNum = $("#E-PhoneNumber").val();
        var email = $("#E-Email").val();
        var address = $("#E-Address").val();
        var job = $("#E-Job").val();
        var gender = $("#E-Gender").val();
        var idNum = $("#E-IdNum").val();

        var locked = false;
        if ($('#E-Locked').is(":checked")) {
            locked = true;
        }

        var authenticated = false;
        if ($('#E-IsAuthenticated').is(":checked")) {
            authenticated = true;
        }

        var object = {
            "Id": id,
            "Name": name,
            "Birthday": birthday,
            "PhoneNumber": phoneNum,
            "Email": email,
            "Address": address,
            "Job": job,
            "Gender": gender,
            "IdNum": idNum,
            "Locked": locked,
            "IsAuthentication": authenticated,
        }

        $.post("edit", object, function (data) {
            if (data) {
                CreateToastSuccess();
            } else {
                CreateToastFailed(data);
            }
            $('#updateModal').modal('toggle');
            LoadData();
        }).fail(function (data) {
            CreateToastFailed(data);
            $('#updateModal').modal('toggle');
            LoadData();
        });
    }

    function CreateTarget() {
        var id = $("#A-Id").val();
        var name = $("#A-Name").val();
        var username = $("#A-Username").val();
        var birthday = $("#A-Birthday").val();

        var phoneNum = $("#A-PhoneNumber").val();
        var email = $("#A-Email").val();
        var address = $("#A-Address").val();
        var job = $("#A-Job").val();
        var gender = $("#A-Gender").val();
        var idNum = $("#A-IdNum").val();

        var authenticated = false;
        if ($('#A-IsAuthenticated').is(":checked")) {
            authenticated = true;
        }

        var object = {
            "Id": id,
            "Name": name,
            "Birthday": birthday,
            "PhoneNumber": phoneNum,
            "Email": email,
            "Address": address,
            "Job": job,
            "Gender": gender,
            "IdNum": idNum,
            "Locked": false,
            "IsAuthentication": authenticated,
            "Password": phoneNum,
            "Username": username,
        }

        $.post("add", object, function (data) {
            if (data) {
                CreateToastSuccess();
            } else {
                CreateToastFailed(data);
            }
            $('#addModal').modal('toggle');
            LoadData();
        }).fail(function (data) {
            CreateToastFailed(data);
            $('#addModal').modal('toggle');
            LoadData();
        });
    }
    // add, edit, and delete functions - end

    // reset form functions on this view
    function ResetAddForm() {
        $("#addForm").validate().resetForm();

        $('#addForm .form-control').removeClass('is-invalid');

        // get a new guid
        $.post("../../otp/guid", function (result) {
            $("#A-Id").val(result);
        });

        $("#addForm").trigger("reset");
    }
</script>

<div class="container">
    <br />
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title">@ViewBag.tagName</h3>
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 300px;">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#addModal" onclick="ResetAddForm()">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>

                            <input id="searchBox" type="text" name="table_search" class="form-control float-right" placeholder="Search">

                            <div class="input-group-append">
                                <button type="button" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table id="accountObjGrid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Birthday</th>
                                <th>PhoneNumber</th>
                                <th>Email</th>
                                <th>Id Num</th>
                                <th>Locked</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="table">
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Birthday</th>
                                <th>PhoneNumber</th>
                                <th>Email</th>
                                <th>Id Num</th>
                                <th>Locked</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- Loading -->
                <div id="loadingOverlay" class="overlay">
                    <i class="fas fa-3x fa-sync-alt fa-spin"></i>
                </div>
                <!-- end loading -->
            </div>
        </div>
    </div>
</div>

<!--Modal for update-->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update</h4>
            </div>
            <div class="modal-body">
                <form id="updateForm">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="E-Name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input class="form-control name" type="text" name="name" id="E-Name" placeholder="Name" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="E-Birthday" class="col-sm-2 col-form-label">Birthday</label>
                            <div class="col-sm-10">
                                <input class="form-control date" name="date" type="date" id="E-Birthday" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="E-PhoneNumber" class="col-sm-2 col-form-label">Phone number</label>
                            <div class="col-sm-10">
                                <input class="form-control phoneNumber" type="text" name="phoneNumber" id="E-PhoneNumber" placeholder="Phone number" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="E-Email" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input class="form-control email" type="text" name="email" id="E-Email" placeholder="Email" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="E-Address" class="col-sm-2 col-form-label">Address</label>
                            <div class="col-sm-10">
                                <input class="form-control address" type="text" name="address" id="E-Address" placeholder="Address" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="E-Job" class="col-sm-2 col-form-label">Job</label>
                            <div class="col-sm-10">
                                <input class="form-control job" type="text" name="job" id="E-Job" placeholder="Job" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="E-Gender" class="col-sm-2 col-form-label">Gender</label>
                            <div class="col-sm-10">
                                <select class="form-control ignore" id="E-Gender">
                                    <option value="@Gender.Male">@Gender.Male</option>
                                    <option value="@Gender.Female">@Gender.Female</option>
                                    <option value="@Gender.Other">@Gender.Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="E-IdNum" class="col-sm-2 col-form-label">Id number</label>
                            <div class="col-sm-10">
                                <input class="form-control idNum" type="text" name="idNum" id="E-IdNum" placeholder="Identity number" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input ignore" id="E-Locked">
                                    <label class="form-check-label" for="E-Locked">Locked</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input ignore" id="E-IsAuthenticated">
                                    <label class="form-check-label" for="E-IsAuthenticated">Authenticated</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="hidden" class="ignore" id="E-Id" />
                        <input type="submit" class="btn btn-info float-lg-right" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal for add-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add</h4>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="A-Id" class="col-sm-2 col-form-label">Id</label>
                            <div class="col-sm-10">
                                <input class="form-control ignore" name="id" type="text" id="A-Id" value="@Guid.NewGuid()" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="A-Name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input class="form-control name" name="name" type="text" id="A-Name" placeholder="Name" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="A-Birthday" class="col-sm-2 col-form-label">Birthday</label>
                            <div class="col-sm-10">
                                <input class="form-control date" name="date" type="date" id="A-Birthday" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="A-PhoneNumber" class="col-sm-2 col-form-label">Phone number</label>
                            <div class="col-sm-10">
                                <input class="form-control phoneNumber" name="phoneNumber" type="text" id="A-PhoneNumber" placeholder="Phone number" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="A-Email" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input class="form-control email" name="email" type="text" id="A-Email" placeholder="Email" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="A-Address" class="col-sm-2 col-form-label">Address</label>
                            <div class="col-sm-10">
                                <input class="form-control address" name="address" type="text" id="A-Address" placeholder="Address" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="A-Job" class="col-sm-2 col-form-label">Job</label>
                            <div class="col-sm-10">
                                <input class="form-control job" name="job" type="text" id="A-Job" placeholder="Job" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="A-Gender" class="col-sm-2 col-form-label">Gender</label>
                            <div class="col-sm-10">
                                <select class="form-control ignore" id="A-Gender">
                                    <option value="@Gender.Male">@Gender.Male</option>
                                    <option value="@Gender.Female">@Gender.Female</option>
                                    <option value="@Gender.Other">@Gender.Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="A-IdNum" class="col-sm-2 col-form-label">Id number</label>
                            <div class="col-sm-10">
                                <input class="form-control idNum" name="idNum" type="text" id="A-IdNum" placeholder="Identity number" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="A-Username" class="col-sm-2 col-form-label">Username</label>
                            <div class="col-sm-10">
                                <input class="form-control username" name="username" type="text" id="A-Username" placeholder="Username" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input ignore" id="A-IsAuthenticated">
                                    <label class="form-check-label" for="A-IsAuthenticated">Authenticated</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-info float-lg-right" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
