@model ProjectSemester3.Models.AccountObject

<h3>Update account object testing</h3>

<form method="post" asp-area="admin" asp-controller="accountObject" asp-action="update">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" asp-for="Name" /></td>
        </tr>
        <tr>
            <td>Birthday</td>
            <td><input type="date" asp-for="Birthday" /></td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td><input type="text" asp-for="PhoneNumber" /></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" asp-for="Email" /></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" asp-for="Address" /></td>
        </tr>
        <tr>
            <td>Job</td>
            <td><input type="text" asp-for="Job" /></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>
                <select asp-for="Gender">
                    <option value="@Gender.Male">@Gender.Male</option>
                    <option value="@Gender.Female">@Gender.Female</option>
                    <option value="@Gender.Other">@Gender.Other</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>IdNum</td>
            <td><input type="text" asp-for="IdNum" /></td>
        </tr>
        <tr>
            <td>Staff</td>
            <td><input type="checkbox" asp-for="Staff" /></td>
        </tr>
        <tr>
            <td>PositionId</td>
            <td><input type="number" asp-for="PositionId" min="1" /></td>
        </tr>
        <tr>
            <td>Username</td>
            <td><input type="text" asp-for="Username" /></td>
        </tr>
        <tr>
            <td>Created date</td>
            <td><input type="date" asp-for="CreatedDate" readonly /></td>
        </tr>
        <tr>
            <td>Locked</td>
            <td><input type="checkbox" asp-for="Locked" /></td>
        </tr>
        <tr>
            <td><input type="hidden" asp-for="Id" /></td>
            <td><input type="submit" value="Save" asp-area="admin" asp-controller="accountObject" asp-action="update" /></td>
        </tr>
    </table>
</form>
