
@{
    ViewData["title"] = "Home";
    ViewData["pageName"] = "Home";
    ViewData["controller"] = "home";
    ViewData["action"] = "index";
    Layout = "_Layout";
}

@{ var count = 0; }
<div class="row">
    <div class=" container col-xl-8 col-md-12">
        <div class="card table-card">
            <div class="card-header">
                <h5>List Current Accounts</h5>
                <div class="card-header-right mb-5">
                    <input type="button" name="add" class="btn btn-primary" data-toggle="modal" data-target="#updateModal" value="New Account" />
                </div>

            </div>
            <form method="get">
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Account Number</th>
                                    <th>Available Balance</th>
                                    <th class="text-right"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var b in ViewBag.bankAccounts)
                                {
                                    count += 1;
                                    <tr>
                                        <td>@count</td>
                                        <td>@b.BankCode</td>
                                        <td>@b.Balance</td>
                                        <td class="text-right">
                                            <label class="label label-inverse-primary">
                                                <input type="button" value="Account Statement" data-toggle="modal" data-target="#Statement" onclick='listTransaction2("@b.Id")' />
                                            </label>
                                            <label class="label label-inverse-primary">
                                                <a asp-controller="home" asp-action="account-detail" asp-route-id="@b.Id">Detail</a>
                                            </label>
                                        </td>                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@await Html.PartialAsync($"~/Views/Home/Add.cshtml")
@await Html.PartialAsync($"~/Views/Home/Detail.cshtml")
@section ScriptsBlock
{
    <script src="~/assets/js/script.home.js"></script>
<script>
    $(document).ready(function () {
        listTransaction2(id);
    });
    function listTransaction2(id) {
        alert(id);
        $.ajax({
            type: 'GET',
            url: '/home/statement/' + id,
            contentType: 'application/json',
            dataType: 'json',
            success: function (model) {
                var result = '';
                if (model == '') {
                    result += '<tr>';
                    result += '<td>' + ' ' + '</td>';
                    result += '<td class="text-right">' + '<p style="color:red;text-align:center">' + 'No transaction with this account' + '</p>' + '</td>';
                    result += '<td>' + ' ' + '</td>';
                    result += '</tr>';
                } else {
                    for (var i = 0; i < model.length; i++) {
                        result += '<tr>';
                        result += '<td>' + model[i].time + '</td>';
                        result += '<td>' + model[i].content + '</td>';
                        result += '<td>' + model[i].amount + '</td>';
                        result += '<td class="text-right">' + model[i].balanceFrom + '</td>';
                        result += '</tr>';
                    };
                    result += '<input type="hidden" name="id" value="' + id + '"/>';
                }
                console.log(result);
                $('#list-bank-account tbody').html(result);
            }
        });
    };
</script>
}
