@{
    ViewData["title"] = "Forfot Password";
    Layout = "_LoginLayout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <form class="md-float-material form-material" id="sign-up">
                <div class="auth-box card">
                    <div class="card-block">
                        <div class="row m-b-20">
                            <div class="col-md-12">
                                <h3 class="text-center txt-primary">Sign up</h3>
                            </div>
                        </div>
                        <div class="form-group form-primary">
                            <label class="md-float-material">Name</label>
                            <input type="text"  class="form-control name" name="name" id="Name">
                            <span class="form-bar"></span>
                        </div>
                        <div class="row">
                            <div class=" form-group form-primary col-6 col-md-6 col-sm-6">
                                <label class="md-float-material" >Birthday</label>
                                <input type="date"  class="form-control birthday" name="birthday" id="Birthday" value="01/01/2021" />
                                <span class="form-bar"></span>
                            </div>
                            <div class="form-group form-primary col-6 col-md-6 col-sm-6">
                                <label class="md-float-material">Identity number</label>
                                <input type="text"  class="form-control idNum" name="idNum" id="IdNum" />
                                <span class="form-bar"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-primary col-6 col-md-6 col-sm-6">
                                <label class="md-float-material">Email</label>
                                <input type="email"  class="form-control email" name="email" placeholder="James123@gmail.com"  id="Email" />
                                <span class="form-bar"></span>
                            </div>
                            <div class="form-group form-primary col-6 col-md-6 col-sm-6">
                                <label class="md-float-material">Phone Number</label>
                                <input type="text"  class="form-control phoneNumber" name="phoneNumber" id="PhoneNumber"/>
                                <span class="form-bar"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-primary col-6 col-md-6 col-sm-6">
                                <label class="md-float-material">Your job</label>
                                <input type="text"  class="form-control job" placeholder="Student" name="job" id="Job" />
                                <span class="form-bar"></span>
                            </div>
                            <div class="form-group form-primary col-6 col-md-6 col-sm-6">
                                <label class="md-float-material">Gender</label>
                                <select  class="form-control ignore" id="Gender">
                                    <option value="@Gender.Male">@Gender.Male</option>
                                    <option value="@Gender.Female">@Gender.Female</option>
                                    <option value="@Gender.Other">@Gender.Other</option>
                                </select>
                                <span class="form-bar"></span>
                            </div>
                        </div>
                        <div class="form-group form-primary">
                            <label class="md-float-material">Your Address</label>
                            <input type="text"  class="form-control address" placeholder="Address" name="address" id="Address" />
                            <span class="form-bar"></span>

                        </div>
                        <div class="form-group form-primary">
                            <label class="md-float-material">Choose Username</label>
                            <input type="text"  class="form-control username" placeholder="Username" name="username" id="Username" />
                            <span class="form-bar"></span>

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-primary">
                                    <label class="md-float-material">Password</label>
                                    <input type="password"  class="form-control password" name="newPassword"  id="newPassword" />
                                    <span class="form-bar"></span>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-primary">
                                    <label class="md-float-material">Confirm Password</label>
                                    <input type="password" name="confirmPassword" class="form-control confirmPassword"  id="ConfirmPassword" />
                                    <span class="form-bar"></span>

                                </div>
                            </div>
                        </div>
                        <div>
                            <span style="color:red;font-size:14px;">@ViewBag.signUpFailed</span>
                        </div>
                        <div class="row m-t-30">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" value="Submit"/>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-10">
                                <p class="text-inverse text-left m-b-0">Thank you.</p>
                                <p class="text-inverse text-left"><a asp-controller="login" asp-action="login"><b>Back to Login</b></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
</div>
@section ScriptsBlock
{    
    <script src="~/assets/js/script.sign-up.js"></script>
}