@{
    ViewData["title"] = "Banking Online";
    ViewData["pageName"] = "Profile";
    ViewData["controller"] = "accountobject";
    ViewData["action"] = "index";
    Layout = "_Layout";
}
@model ProjectSemester3.Models.AccountObject;
<div class="card">
    <div class="card-header">
        <h4>Profile</h4><br />
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateModal" onclick=ShowUpdate("@Model.Id")>
            <i class="fas fa-edit">Update</i>
        </button>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table id="account-object-table" class="table table-hover">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <th>Birthday</th>
                        <td>@Model.Birthday.ToString("dd/MM/yyyy")</td>
                    </tr>
                    <tr>
                        <th>Phone Number</th>
                        <td>@Model.PhoneNumber</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>@Model.Address</td>
                    </tr>
                    <tr>
                        <th>Job</th>
                        <td>@Model.Job</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>@Model.Gender</td>
                    </tr>
                    <tr>
                        <th>ID Number</th>
                        <td>@Model.IdNum</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@await Html.PartialAsync($"~/Views/AccountObject/Update.cshtml")
@section ScriptsBlock
{
    <script src="~/assets/js/script.account-object.js"></script>
}